In [23]:
# Libaries

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import ttest_ind, ttest_rel
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import f_oneway

In [ ]:
'''
Instructions
# 1.
One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack 
faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack 
ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx.. 
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one 
machine is better than the other?
'''

# a = 0.05

In [19]:
df = pd.read_csv(r"C:\Users\ljant\Desktop\Ironhack\15_Revision_and_Hypothesis-Testing\lab-t-tests-p-values\files_for_lab\ttest_machine.txt", sep='\s+', header=0)
df

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [20]:
t_statistic, p_value = ttest_ind(df['New_machine'], df['Old_machine'])
print(t_statistic, p_value)

-3.3972307061176026 0.0032111425007745158

In [ ]:
'''
Answer:
Since p_value is < than a, I'm rejecting H0 and assuming with 95 % certainty that the new machine is significantly better
/more efficient than the older version. 
'''

In [ ]:
'''
# 2.
Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon 
(file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's 
defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see 
if there is a statistically significant difference between them and comment your result.
'''
# a = 0.05

In [21]:
df = pd.read_csv(r"C:\Users\ljant\Desktop\Ironhack\15_Revision_and_Hypothesis-Testing\lab-t-tests-p-values\files_for_lab\pokemon.txt")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [24]:
t_statistic, p_value = ttest_rel(df['Attack'], df['Defense'])
print(t_statistic, p_value)

4.325566393330478 1.7140303479358558e-05

In [ ]:
'''
Answer:
Since p_value is > than a, I'm rejecting H1 and assuming with 95 % certainty that there are no significant differences
between the values for Attack and Defense per Pokemon.
'''

In [ ]:
# ANOVA Exericse done in the jupiter file 'ANOVA'