In [10]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [6]:
df = pd.read_csv(r"C:\Users\pedro\Desktop\Ironhack\ttest_machine.txt",sep=" ")
df

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [2]:
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway
from scipy.stats import norm
from statistics import math

In [8]:
#independent samples t-test
#data provides sufficient evidence to show the new machine is faster than the old one (p-value<0.01)

ttest_ind(df['New_machine'],df['Old_machine'])

TtestResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158, df=18.0)

In [6]:
pokemon = pd.read_csv(r"C:\Users\pedro\Desktop\Ironhack\pokemon.txt")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [18]:
pokemon.rename(columns={'Type 1': 'Type_1'}, inplace=True)

In [8]:
#dependent samples t-test
#data provides sufficient evidence that there is a statistically significant difference 
#between attack and defense scores (p-value<0.01)
ttest_rel(pokemon['Attack'],pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [22]:
#ANOVA test
#data provides sufficient evidence that not all population means are equal (p-value<0.01)
model = ols("Total ~ Type_1", data = pokemon).fit()

table = sm.stats.anova_lm(model)
table

             df        sum_sq       mean_sq         F        PR(>F)
Type_1     17.0  1.053322e+06  61960.121260  4.638767  2.077215e-09
Residual  782.0  1.044519e+07  13357.022421       NaN           NaN